<div class="container-fluid">
  <div class="row mb-3 mt-3">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h2>Test eIDSR Menu</h2>
    </div>
    <div class="col-sm-4"></div>
  </div>

<div class="row mb-3 mt-3">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <label>Simulation Server</label>
    <input [(ngModel)]="url" class="form-control form-control-sm" placeholder="http://localhoost:3000">
  </div>
  <div class="col-sm-4"></div>
</div>
  <div class="row mb-3 mt-3">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <label>Phone Number to use</label>
      <input [(ngModel)]="phone" class="form-control form-control-sm" placeholder="255XXXXXXXXX">
    </div>
    <div class="col-sm-4"></div>
  </div>

  <div class="row mb-3 mt-3">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <button (click)="sendFirstRequest()" class=" cursor btn btn-outline-secondary btn-block">
        Start
      </button>
    </div>
    <div class="col-sm-4"></div>
  </div>
<div *ngIf="response_ready">
  <div class="row" >
    <div class="col-sm-4"></div>
    <div class="col-sm-4" [innerHTML]="response_body">
    </div>
    <div class="col-sm-4"></div>
  </div>
  <!--ussd response-->
  <div class="row" *ngIf="need_input">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <input [(ngModel)]="answer" class="form-control form-control-sm" placeholder="Answer here">
    </div>
    <div class="col-sm-4"></div>
  </div>
  <!--button to request next action-->
  <div class="row mb-3 mt-3" *ngIf="need_input">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col">
          <button (click)="cancelRequest()" class=" cursor btn btn-outline-secondary btn-block">
            Cancel
          </button>
        </div>
        <div class="col">
          <button [disabled]="answer == ''" (click)="sendRequest()" class=" cursor btn btn-outline-secondary btn-block">
            Reply
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
  <div class="row" *ngIf="sending_response">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h3 class="text-center">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
      </h3>
      <h3 class="text-center">Loading Next Menu ...</h3>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
