
.dataList {
  width: 100%;
  height: 200px;
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.2);
  border-bottom: 0px;
  overflow: hidden;
}

.dataList li{
  font-size: small;
  cursor: pointer;
}

.dataList li:hover{
  background-color: rgba(0,0,0,0.2);
}

.dataList li.selected{
  background-color: rgba(0,0,0,0.3);
}

.dataList:hover {
  overflow: auto;
  overflow-x: hidden;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.03);
}

.dataList::-webkit-scrollbar {
  width: 6px;
}

.dataList::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.dataList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.active-item {
  background-color: rgba(0,0,0,0.1);
}
